<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nnbox.admin.data.mapper.BikeMapper">
  <resultMap id="BaseResultMap" type="com.nnbox.admin.data.model.Bike">
    <id column="IDX" jdbcType="INTEGER" property="idx" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="BIKE_NUMBER" jdbcType="VARCHAR" property="bikeNumber" />
    <result column="BIKE_STATUS" jdbcType="SMALLINT" property="bikeStatus" />
    <result column="MODEL_NAME" jdbcType="VARCHAR" property="modelName" />
    <result column="MAKER" jdbcType="VARCHAR" property="maker" />
    <result column="MAKE_DATE" jdbcType="TIMESTAMP" property="makeDate" />
    <result column="MODEL_YEAR" jdbcType="SMALLINT" property="modelYear" />
    <result column="MILEAGE" jdbcType="INTEGER" property="mileage" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
  </resultMap>
  <sql id="Base_Column_List">
    IDX, CREATE_DATE, BIKE_NUMBER, BIKE_STATUS, MODEL_NAME, MAKER, MAKE_DATE, MODEL_YEAR, 
    MILEAGE, MEMO
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bike
    where IDX = #{idx,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bike
    where IDX = #{idx,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nnbox.admin.data.model.Bike">
    insert into bike (IDX, CREATE_DATE, BIKE_NUMBER, 
      BIKE_STATUS, MODEL_NAME, MAKER, 
      MAKE_DATE, MODEL_YEAR, MILEAGE, 
      MEMO)
    values (#{idx,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{bikeNumber,jdbcType=VARCHAR}, 
      #{bikeStatus,jdbcType=SMALLINT}, #{modelName,jdbcType=VARCHAR}, #{maker,jdbcType=VARCHAR}, 
      #{makeDate,jdbcType=TIMESTAMP}, #{modelYear,jdbcType=SMALLINT}, #{mileage,jdbcType=INTEGER}, 
      #{memo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nnbox.admin.data.model.Bike">
    insert into bike
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idx != null">
        IDX,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="bikeNumber != null">
        BIKE_NUMBER,
      </if>
      <if test="bikeStatus != null">
        BIKE_STATUS,
      </if>
      <if test="modelName != null">
        MODEL_NAME,
      </if>
      <if test="maker != null">
        MAKER,
      </if>
      <if test="makeDate != null">
        MAKE_DATE,
      </if>
      <if test="modelYear != null">
        MODEL_YEAR,
      </if>
      <if test="mileage != null">
        MILEAGE,
      </if>
      <if test="memo != null">
        MEMO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idx != null">
        #{idx,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bikeNumber != null">
        #{bikeNumber,jdbcType=VARCHAR},
      </if>
      <if test="bikeStatus != null">
        #{bikeStatus,jdbcType=SMALLINT},
      </if>
      <if test="modelName != null">
        #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="maker != null">
        #{maker,jdbcType=VARCHAR},
      </if>
      <if test="makeDate != null">
        #{makeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modelYear != null">
        #{modelYear,jdbcType=SMALLINT},
      </if>
      <if test="mileage != null">
        #{mileage,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nnbox.admin.data.model.Bike">
    update bike
    <set>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bikeNumber != null">
        BIKE_NUMBER = #{bikeNumber,jdbcType=VARCHAR},
      </if>
      <if test="bikeStatus != null">
        BIKE_STATUS = #{bikeStatus,jdbcType=SMALLINT},
      </if>
      <if test="modelName != null">
        MODEL_NAME = #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="maker != null">
        MAKER = #{maker,jdbcType=VARCHAR},
      </if>
      <if test="makeDate != null">
        MAKE_DATE = #{makeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modelYear != null">
        MODEL_YEAR = #{modelYear,jdbcType=SMALLINT},
      </if>
      <if test="mileage != null">
        MILEAGE = #{mileage,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where IDX = #{idx,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nnbox.admin.data.model.Bike">
    update bike
    set CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      BIKE_NUMBER = #{bikeNumber,jdbcType=VARCHAR},
      BIKE_STATUS = #{bikeStatus,jdbcType=SMALLINT},
      MODEL_NAME = #{modelName,jdbcType=VARCHAR},
      MAKER = #{maker,jdbcType=VARCHAR},
      MAKE_DATE = #{makeDate,jdbcType=TIMESTAMP},
      MODEL_YEAR = #{modelYear,jdbcType=SMALLINT},
      MILEAGE = #{mileage,jdbcType=INTEGER},
      MEMO = #{memo,jdbcType=VARCHAR}
    where IDX = #{idx,jdbcType=INTEGER}
  </update>
</mapper>