<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nnbox.admin.data.mapper.CashLogMapper">
  <resultMap id="BaseResultMap" type="com.nnbox.admin.data.model.CashLog">
    <id column="IDX" jdbcType="INTEGER" property="idx" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CATEGORY" jdbcType="VARCHAR" property="category" />
    <result column="USER_IDX" jdbcType="INTEGER" property="userIdx" />
    <result column="SEND_AMOUNT" jdbcType="INTEGER" property="sendAmount" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="USER_TYPE" jdbcType="INTEGER" property="userType" />
    <result column="ADMIN_ID" jdbcType="VARCHAR" property="adminId" />
    <result column="RECEIVE_IDX" jdbcType="INTEGER" property="receiveIdx" />
    <result column="RECEIVE_ID" jdbcType="VARCHAR" property="receiveId" />
    <result column="BEFORE_NCASH" jdbcType="INTEGER" property="beforeNcash" />
    <result column="NCASH_DELTA" jdbcType="INTEGER" property="ncashDelta" />
    <result column="BRANCH_IDX" jdbcType="INTEGER" property="branchIdx" />
  </resultMap>
  
  <resultMap id="NcashResultMap" type="com.nnbox.admin.data.model.Ncash">
    <id column="IDX" jdbcType="INTEGER" property="idx" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CATEGORY" jdbcType="VARCHAR" property="category" />
    <result column="CATEGORY_KR" jdbcType="VARCHAR" property="categoryKr" />
    <result column="NCASH_DELTA" jdbcType="INTEGER" property="ncashDelta" />
    <result column="ADMIN_ID" jdbcType="INTEGER" property="adminId"/>
  </resultMap>
  
  <resultMap id="PayResultMap" type="com.nnbox.admin.data.model.Withdraw">
    <id column="IDX" jdbcType="INTEGER" property="idx" />
    <result column="USER_IDX" jdbcType="INTEGER" property="userIdx" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="BANK" jdbcType="VARCHAR" property="bank" />
    <result column="BANK_ACCOUNT" jdbcType="VARCHAR" property="bankAccount" />
    <result column="DEPOSITOR" jdbcType="VARCHAR" property="depositor" />
    <result column="NCASH_DELTA" jdbcType="INTEGER" property="ncashDelta" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  
  <sql id="Base_Column_List">
    IDX, CREATE_DATE, CATEGORY, USER_IDX, SEND_AMOUNT, MEMO, USER_ID, USER_TYPE, ADMIN_ID, 
    RECEIVE_IDX, RECEIVE_ID, BEFORE_NCASH, NCASH_DELTA, BRANCH_IDX
  </sql>
  
  <sql id="Pay_Column_List">
    cl.IDX, cl.USER_IDX, cl.CREATE_DATE, cl.NCASH_DELTA, cl.MEMO
  </sql>
  
  <sql id="User_Column_List">
    u.ID as USER_ID, u.BANK, u.BANK_ACCOUNT, u.DEPOSITOR
  </sql>
  
  <sql id="Ncash_Column_List">
    cl.IDX, cl.CREATE_DATE, cl.CATEGORY, u.ID as USER_ID, cl.ADMIN_ID, cl.NCASH_DELTA, cl.MEMO as CATEGORY_KR
  </sql>
  
  <sql id="Ncash_List_Table">
    cash_log cl
    inner join user u
    on cl.USER_IDX = u.IDX
    <if test="userType == 1">
      inner join rider r
      on r.USER_IDX = u.IDX
    </if>
    <if test="userType == 2">
      inner join franchise f
      on f.USER_IDX = u.IDX
    </if>
  </sql>
  <sql id="Payment_List_Table">
    cash_log cl
    inner join user u
    on cl.USER_IDX = u.IDX
  </sql>
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cash_log
    where IDX = #{idx,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cash_log
    where IDX = #{idx,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nnbox.admin.data.model.CashLog">
    insert into cash_log (IDX, CREATE_DATE, CATEGORY, 
      USER_IDX, SEND_AMOUNT, MEMO, 
      USER_ID, USER_TYPE, ADMIN_ID, 
      RECEIVE_IDX, RECEIVE_ID, BEFORE_NCASH, 
      NCASH_DELTA, BRANCH_IDX)
    values (#{idx,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{category,jdbcType=VARCHAR}, 
      #{userIdx,jdbcType=INTEGER}, #{sendAmount,jdbcType=INTEGER}, #{memo,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{userType,jdbcType=INTEGER}, #{adminId,jdbcType=VARCHAR}, 
      #{receiveIdx,jdbcType=INTEGER}, #{receiveId,jdbcType=VARCHAR}, #{beforeNcash,jdbcType=INTEGER}, 
      #{ncashDelta,jdbcType=INTEGER}, #{branchIdx,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.nnbox.admin.data.model.CashLog">
    insert into cash_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idx != null">
        IDX,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="category != null">
        CATEGORY,
      </if>
      <if test="userIdx != null">
        USER_IDX,
      </if>
      <if test="sendAmount != null">
        SEND_AMOUNT,
      </if>
      <if test="memo != null">
        MEMO,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="userType != null">
        USER_TYPE,
      </if>
      <if test="adminId != null">
        ADMIN_ID,
      </if>
      <if test="receiveIdx != null">
        RECEIVE_IDX,
      </if>
      <if test="receiveId != null">
        RECEIVE_ID,
      </if>
      <if test="beforeNcash != null">
        BEFORE_NCASH,
      </if>
      <if test="ncashDelta != null">
        NCASH_DELTA,
      </if>
      <if test="branchIdx != null">
        BRANCH_IDX,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idx != null">
        #{idx,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="userIdx != null">
        #{userIdx,jdbcType=INTEGER},
      </if>
      <if test="sendAmount != null">
        #{sendAmount,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=VARCHAR},
      </if>
      <if test="receiveIdx != null">
        #{receiveIdx,jdbcType=INTEGER},
      </if>
      <if test="receiveId != null">
        #{receiveId,jdbcType=VARCHAR},
      </if>
      <if test="beforeNcash != null">
        #{beforeNcash,jdbcType=INTEGER},
      </if>
      <if test="ncashDelta != null">
        #{ncashDelta,jdbcType=INTEGER},
      </if>
      <if test="branchIdx != null">
        #{branchIdx,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nnbox.admin.data.model.CashLog">
    update cash_log
    <set>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="category != null">
        CATEGORY = #{category,jdbcType=VARCHAR},
      </if>
      <if test="userIdx != null">
        USER_IDX = #{userIdx,jdbcType=INTEGER},
      </if>
      <if test="sendAmount != null">
        SEND_AMOUNT = #{sendAmount,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        USER_TYPE = #{userType,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        ADMIN_ID = #{adminId,jdbcType=VARCHAR},
      </if>
      <if test="receiveIdx != null">
        RECEIVE_IDX = #{receiveIdx,jdbcType=INTEGER},
      </if>
      <if test="receiveId != null">
        RECEIVE_ID = #{receiveId,jdbcType=VARCHAR},
      </if>
      <if test="beforeNcash != null">
        BEFORE_NCASH = #{beforeNcash,jdbcType=INTEGER},
      </if>
      <if test="ncashDelta != null">
        NCASH_DELTA = #{ncashDelta,jdbcType=INTEGER},
      </if>
      <if test="branchIdx != null">
        BRANCH_IDX = #{branchIdx,jdbcType=INTEGER},
      </if>
    </set>
    where IDX = #{idx,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nnbox.admin.data.model.CashLog">
    update cash_log
    set CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CATEGORY = #{category,jdbcType=VARCHAR},
      USER_IDX = #{userIdx,jdbcType=INTEGER},
      SEND_AMOUNT = #{sendAmount,jdbcType=INTEGER},
      MEMO = #{memo,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      USER_TYPE = #{userType,jdbcType=INTEGER},
      ADMIN_ID = #{adminId,jdbcType=VARCHAR},
      RECEIVE_IDX = #{receiveIdx,jdbcType=INTEGER},
      RECEIVE_ID = #{receiveId,jdbcType=VARCHAR},
      BEFORE_NCASH = #{beforeNcash,jdbcType=INTEGER},
      NCASH_DELTA = #{ncashDelta,jdbcType=INTEGER},
      BRANCH_IDX = #{branchIdx,jdbcType=INTEGER}
    where IDX = #{idx,jdbcType=INTEGER}
  </update>
  
  
  <!-- custom sql -->
  <select id="selectNcashList" parameterType="com.nnbox.admin.api.ncash.model.NcashAllListRequest" resultMap="NcashResultMap">
    select 
    <include refid="Ncash_Column_List" />
    from cash_log cl
    inner join user u
    on u.IDX = cl.USER_IDX
    <where>
      <if test="category != null and !category.equals('')">and cl.CATEGORY like #{category}</if>
    </where>
    order by cl.IDX desc
    limit #{pageSize} offset #{limitStart}
  </select>
  
  <select id="getNcashTotalCount" parameterType="com.nnbox.admin.api.ncash.model.NcashAllListRequest" resultType="int">
    select count(*)
    from cash_log cl
    inner join user u
    on u.IDX = cl.USER_IDX
    <where>
      <if test="category != null and !category.equals('')">and cl.CATEGORY like #{category}</if>
    </where>
  </select>
  
  <select id="selectWithdrawList" parameterType="com.nnbox.admin.api.ncash.model.WithdrawListRequest" resultMap="PayResultMap">
    select 
    <include refid="Pay_Column_List" />,
    <include refid="User_Column_List" />,
    <if test="userType == 1">r.RIDER_NAME as USER_NAME</if>
    <if test="userType == 2">f.FR_NAME as USER_NAME</if>
    from 
    <include refid="Ncash_List_Table" />
    <where>
      u.USER_TYPE = #{userType}
      <if test="userId != null">and u.ID like CONCAT(#{userId}, '%')</if>
      and cl.NCASH_DELTA &lt; 0
    </where>
    order by cl.IDX desc
    limit #{pageSize,jdbcType=INTEGER} offset #{limitStart,jdbcType=INTEGER}
  </select>
  
  <select id="getWithdrawTotalCount" parameterType="com.nnbox.admin.api.ncash.model.WithdrawListRequest" resultType="int">
    select count(*)
    from
    <include refid="Ncash_List_Table" />
    <where>
      u.USER_TYPE = #{userType}
      <if test="userId != null">and u.ID like CONCAT(#{userId}, '%')</if>
      and cl.NCASH_DELTA &lt; 0
    </where>
  </select>
  
  <select id="selectPaymentList" parameterType="com.nnbox.admin.api.ncash.model.NcashListRequest" resultMap="PayResultMap">
    select
    <include refid="Pay_Column_List" />,
    <include refid="User_Column_List" />
    from
    <include refid="Payment_List_Table" />
    <where>
      u.USER_TYPE = #{userType}
      <if test="userId != null">and u.ID like CONCAT(#{userId}, '%')</if>
      and cl.NCASH_DELTA &gt; 0
    </where>
    order by cl.IDX desc
    limit #{pageSize,jdbcType=INTEGER} offset #{limitStart,jdbcType=INTEGER}
  </select>
  
  <select id="getPaymentTotalCount" parameterType="com.nnbox.admin.api.ncash.model.NcashListRequest" resultType="int">
    select count(*)
    from
    <include refid="Payment_List_Table" />
    <where>
      u.USER_TYPE = #{userType}
      <if test="userId != null">and u.ID like CONCAT(#{userId}, '%')</if>
      and cl.NCASH_DELTA &gt; 0
    </where>
  </select>
</mapper>