<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nnbox.admin.data.mapper.CashLogMapper">
  <resultMap id="BaseResultMap" type="com.nnbox.admin.data.model.CashLog">
    <id column="IDX" jdbcType="INTEGER" property="idx" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CATEGORY" jdbcType="VARCHAR" property="category" />
    <result column="USER_IDX" jdbcType="INTEGER" property="userIdx" />
    <result column="SEND_AMOUNT" jdbcType="INTEGER" property="sendAmount" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="USER_TYPE" jdbcType="INTEGER" property="userType" />
    <result column="ADMIN_ID" jdbcType="VARCHAR" property="adminId" />
    <result column="RECEIVE_IDX" jdbcType="INTEGER" property="receiveIdx" />
    <result column="RECEIVE_ID" jdbcType="VARCHAR" property="receiveId" />
    <result column="BEFORE_NCASH" jdbcType="INTEGER" property="beforeNcash" />
    <result column="NCASH_DELTA" jdbcType="INTEGER" property="ncashDelta" />
    <result column="AFTER_NCASH" jdbcType="INTEGER" property="afterNcash" />
    <result column="BRANCH_IDX" jdbcType="INTEGER" property="branchIdx" />
    <result column="V_ACCOUNT_BANK" jdbcType="VARCHAR" property="vAccountBank" />
    <result column="V_ACCOUNT_NUMBER" jdbcType="VARCHAR" property="vAccountNumber" />
    <result column="V_ACCOUNT_DEPOSITOR" jdbcType="VARCHAR" property="vAccountDepositor" />
    <result column="KIND" jdbcType="SMALLINT" property="kind" />
  </resultMap>
  
    <resultMap id="NcashResultMap" type="com.nnbox.admin.data.model.Ncash">
    <id column="IDX" jdbcType="INTEGER" property="idx" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="NCASH" jdbcType="INTEGER" property="nCash" />
    <result column="USER_TYPE" jdbcType="INTEGER" property="userType" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CATEGORY" jdbcType="VARCHAR" property="category" />
    <result column="CATEGORY_KR" jdbcType="VARCHAR" property="categoryKr" />
    <result column="NCASH_DELTA" jdbcType="INTEGER" property="ncashDelta" />
    <result column="ADMIN_ID" jdbcType="INTEGER" property="adminId"/>
    <result column="KIND" jdbcType="SMALLINT" property="kind" />
  </resultMap>
  
  <resultMap id="PayResultMap" type="com.nnbox.admin.data.model.Withdraw">
    <id column="IDX" jdbcType="INTEGER" property="idx" />
    <result column="USER_IDX" jdbcType="INTEGER" property="userIdx" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="BANK" jdbcType="VARCHAR" property="bank" />
    <result column="BANK_ACCOUNT" jdbcType="VARCHAR" property="bankAccount" />
    <result column="DEPOSITOR" jdbcType="VARCHAR" property="depositor" />
    <result column="NCASH_DELTA" jdbcType="INTEGER" property="ncashDelta" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  
  <resultMap id="NcashDailyResultMap" type="com.nnbox.admin.data.model.NcashDaily">
    <id column="IDX" jdbcType="INTEGER" property="idx" />
    <result column="USER_IDX" jdbcType="INTEGER" property="userIdx" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="KIND" jdbcType="VARCHAR" property="kind" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="V_ACCOUNT_BANK" jdbcType="VARCHAR" property="bank" />
    <result column="V_ACCOUNT_NUMBER" jdbcType="VARCHAR" property="bankAccount" />
    <result column="V_ACCOUNT_DEPOSITOR" jdbcType="VARCHAR" property="depositor" />
    <result column="NCASH_DELTA" jdbcType="INTEGER" property="ncashDelta" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="REGISTRATION_NUMBER" jdbcType="VARCHAR" property="registrationNumber" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  
  <sql id="Base_Column_List">
    IDX, CREATE_DATE, CATEGORY, USER_IDX, SEND_AMOUNT, MEMO, USER_ID, USER_TYPE, ADMIN_ID, 
    RECEIVE_IDX, RECEIVE_ID, BEFORE_NCASH, NCASH_DELTA, AFTER_NCASH, BRANCH_IDX, V_ACCOUNT_BANK, 
    V_ACCOUNT_NUMBER, V_ACCOUNT_DEPOSITOR, KIND
  </sql>
  
  <sql id="Pay_Column_List">
    cl.IDX, cl.USER_IDX, cl.CREATE_DATE, cl.NCASH_DELTA, cl.MEMO
  </sql>
  
  <sql id="User_Column_List">
    u.ID as USER_ID, u.BANK, u.BANK_ACCOUNT, u.DEPOSITOR
  </sql>
  
  <sql id="Ncash_Column_List">
    cl.IDX, cl.CREATE_DATE, cl.CATEGORY, u.ID as USER_ID, cl.ADMIN_ID, cl.NCASH_DELTA, cl.MEMO as CATEGORY_KR
    , u.NCASH, u.USER_TYPE
    , case u.USER_TYPE when 1 then r.RIDER_NAME when 2 then f.FR_NAME end as USER_NAME
    , cl.KIND
  </sql>
  
  <sql id="Ncash_Daily_Column_List">
    cl.IDX, cl.CREATE_DATE, cl.CATEGORY, u.ID as USER_ID, cl.ADMIN_ID, cl.NCASH_DELTA, cl.MEMO as CATEGORY_KR
    , u.NCASH, u.USER_TYPE
    , case u.USER_TYPE when 1 then r.RIDER_NAME when 2 then f.FR_NAME end as USER_NAME
    , cl.KIND, cl.V_ACCOUNT_BANK, cl.V_ACCOUNT_NUMBER, cl.V_ACCOUNT_DEPOSITOR
    , r.REGISTRATION_NUMBER, u.PHONE
  </sql>
  
  <sql id="Ncash_List_Table">
    cash_log cl
    inner join user u
    on cl.USER_IDX = u.IDX
    <if test="userType == 1">
      inner join rider r
      on r.USER_IDX = u.IDX
    </if>
    <if test="userType == 2">
      inner join franchise f
      on f.USER_IDX = u.IDX
    </if>
  </sql>
  
  <sql id="Payment_List_Table">
    cash_log cl
    inner join user u
    on cl.USER_IDX = u.IDX
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cash_log
    where IDX = #{idx,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cash_log
    where IDX = #{idx,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nnbox.admin.data.model.CashLog">
    insert into cash_log (IDX, CREATE_DATE, CATEGORY, 
      USER_IDX, SEND_AMOUNT, MEMO, 
      USER_ID, USER_TYPE, ADMIN_ID, 
      RECEIVE_IDX, RECEIVE_ID, BEFORE_NCASH, 
      NCASH_DELTA, AFTER_NCASH, BRANCH_IDX, 
      V_ACCOUNT_BANK, V_ACCOUNT_NUMBER, V_ACCOUNT_DEPOSITOR, 
      KIND)
    values (#{idx,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{category,jdbcType=VARCHAR}, 
      #{userIdx,jdbcType=INTEGER}, #{sendAmount,jdbcType=INTEGER}, #{memo,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{userType,jdbcType=INTEGER}, #{adminId,jdbcType=VARCHAR}, 
      #{receiveIdx,jdbcType=INTEGER}, #{receiveId,jdbcType=VARCHAR}, #{beforeNcash,jdbcType=INTEGER}, 
      #{ncashDelta,jdbcType=INTEGER}, #{afterNcash,jdbcType=INTEGER}, #{branchIdx,jdbcType=INTEGER}, 
      #{vAccountBank,jdbcType=VARCHAR}, #{vAccountNumber,jdbcType=VARCHAR}, #{vAccountDepositor,jdbcType=VARCHAR}, 
      #{kind,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.nnbox.admin.data.model.CashLog">
    insert into cash_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idx != null">
        IDX,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="category != null">
        CATEGORY,
      </if>
      <if test="userIdx != null">
        USER_IDX,
      </if>
      <if test="sendAmount != null">
        SEND_AMOUNT,
      </if>
      <if test="memo != null">
        MEMO,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="userType != null">
        USER_TYPE,
      </if>
      <if test="adminId != null">
        ADMIN_ID,
      </if>
      <if test="receiveIdx != null">
        RECEIVE_IDX,
      </if>
      <if test="receiveId != null">
        RECEIVE_ID,
      </if>
      <if test="beforeNcash != null">
        BEFORE_NCASH,
      </if>
      <if test="ncashDelta != null">
        NCASH_DELTA,
      </if>
      <if test="afterNcash != null">
        AFTER_NCASH,
      </if>
      <if test="branchIdx != null">
        BRANCH_IDX,
      </if>
      <if test="vAccountBank != null">
        V_ACCOUNT_BANK,
      </if>
      <if test="vAccountNumber != null">
        V_ACCOUNT_NUMBER,
      </if>
      <if test="vAccountDepositor != null">
        V_ACCOUNT_DEPOSITOR,
      </if>
      <if test="kind != null">
        KIND,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idx != null">
        #{idx,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="userIdx != null">
        #{userIdx,jdbcType=INTEGER},
      </if>
      <if test="sendAmount != null">
        #{sendAmount,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=VARCHAR},
      </if>
      <if test="receiveIdx != null">
        #{receiveIdx,jdbcType=INTEGER},
      </if>
      <if test="receiveId != null">
        #{receiveId,jdbcType=VARCHAR},
      </if>
      <if test="beforeNcash != null">
        #{beforeNcash,jdbcType=INTEGER},
      </if>
      <if test="ncashDelta != null">
        #{ncashDelta,jdbcType=INTEGER},
      </if>
      <if test="afterNcash != null">
        #{afterNcash,jdbcType=INTEGER},
      </if>
      <if test="branchIdx != null">
        #{branchIdx,jdbcType=INTEGER},
      </if>
      <if test="vAccountBank != null">
        #{vAccountBank,jdbcType=VARCHAR},
      </if>
      <if test="vAccountNumber != null">
        #{vAccountNumber,jdbcType=VARCHAR},
      </if>
      <if test="vAccountDepositor != null">
        #{vAccountDepositor,jdbcType=VARCHAR},
      </if>
      <if test="kind != null">
        #{kind,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nnbox.admin.data.model.CashLog">
    update cash_log
    <set>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="category != null">
        CATEGORY = #{category,jdbcType=VARCHAR},
      </if>
      <if test="userIdx != null">
        USER_IDX = #{userIdx,jdbcType=INTEGER},
      </if>
      <if test="sendAmount != null">
        SEND_AMOUNT = #{sendAmount,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        USER_TYPE = #{userType,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        ADMIN_ID = #{adminId,jdbcType=VARCHAR},
      </if>
      <if test="receiveIdx != null">
        RECEIVE_IDX = #{receiveIdx,jdbcType=INTEGER},
      </if>
      <if test="receiveId != null">
        RECEIVE_ID = #{receiveId,jdbcType=VARCHAR},
      </if>
      <if test="beforeNcash != null">
        BEFORE_NCASH = #{beforeNcash,jdbcType=INTEGER},
      </if>
      <if test="ncashDelta != null">
        NCASH_DELTA = #{ncashDelta,jdbcType=INTEGER},
      </if>
      <if test="afterNcash != null">
        AFTER_NCASH = #{afterNcash,jdbcType=INTEGER},
      </if>
      <if test="branchIdx != null">
        BRANCH_IDX = #{branchIdx,jdbcType=INTEGER},
      </if>
      <if test="vAccountBank != null">
        V_ACCOUNT_BANK = #{vAccountBank,jdbcType=VARCHAR},
      </if>
      <if test="vAccountNumber != null">
        V_ACCOUNT_NUMBER = #{vAccountNumber,jdbcType=VARCHAR},
      </if>
      <if test="vAccountDepositor != null">
        V_ACCOUNT_DEPOSITOR = #{vAccountDepositor,jdbcType=VARCHAR},
      </if>
      <if test="kind != null">
        KIND = #{kind,jdbcType=SMALLINT},
      </if>
    </set>
    where IDX = #{idx,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nnbox.admin.data.model.CashLog">
    update cash_log
    set CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CATEGORY = #{category,jdbcType=VARCHAR},
      USER_IDX = #{userIdx,jdbcType=INTEGER},
      SEND_AMOUNT = #{sendAmount,jdbcType=INTEGER},
      MEMO = #{memo,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      USER_TYPE = #{userType,jdbcType=INTEGER},
      ADMIN_ID = #{adminId,jdbcType=VARCHAR},
      RECEIVE_IDX = #{receiveIdx,jdbcType=INTEGER},
      RECEIVE_ID = #{receiveId,jdbcType=VARCHAR},
      BEFORE_NCASH = #{beforeNcash,jdbcType=INTEGER},
      NCASH_DELTA = #{ncashDelta,jdbcType=INTEGER},
      AFTER_NCASH = #{afterNcash,jdbcType=INTEGER},
      BRANCH_IDX = #{branchIdx,jdbcType=INTEGER},
      V_ACCOUNT_BANK = #{vAccountBank,jdbcType=VARCHAR},
      V_ACCOUNT_NUMBER = #{vAccountNumber,jdbcType=VARCHAR},
      V_ACCOUNT_DEPOSITOR = #{vAccountDepositor,jdbcType=VARCHAR},
      KIND = #{kind,jdbcType=SMALLINT}
    where IDX = #{idx,jdbcType=INTEGER}
  </update>
  
      <!-- custom sql -->
  <select id="selectNcashList" parameterType="com.nnbox.admin.api.ncash.model.NcashAllListRequest" resultMap="NcashResultMap">
    select 
    <include refid="Ncash_Column_List" />
    from cash_log cl
    inner join user u
    on u.IDX = cl.USER_IDX left outer join rider r
    on r.USER_IDX = u.IDX left outer join franchise f
    on f.USER_IDX = u.IDX
    <where>
      <if test="category != null and !category.equals('')">and cl.CATEGORY like #{category}</if>
      <if test="userId != null and !userId.equals('')">and u.ID like CONCAT(#{userId}, '%')</if>
    </where>
    order by cl.IDX desc
    limit #{pageSize} offset #{limitStart}
  </select>
  
  <select id="getNcashTotalCount" parameterType="com.nnbox.admin.api.ncash.model.NcashAllListRequest" resultType="int">
    select count(*)
    from cash_log cl
    inner join user u
    on u.IDX = cl.USER_IDX
    <where>
      <if test="category != null and !category.equals('')">and cl.CATEGORY like #{category}</if>
      <if test="userId != null and !userId.equals('')">and u.ID like CONCAT(#{userId}, '%')</if>
    </where>
  </select>
  
  <select id="selectWithdrawList" parameterType="com.nnbox.admin.api.ncash.model.WithdrawListRequest" resultMap="PayResultMap">
    select 
    <include refid="Pay_Column_List" />,
    <include refid="User_Column_List" />,
    <if test="userType == 1">r.RIDER_NAME as USER_NAME</if>
    <if test="userType == 2">f.FR_NAME as USER_NAME</if>
    from 
    <include refid="Ncash_List_Table" />
    <where>
      u.USER_TYPE = #{userType}
      <if test="userId != null">and u.ID like CONCAT(#{userId}, '%')</if>
      and cl.NCASH_DELTA &lt; 0
    </where>
    order by cl.IDX desc
    limit #{pageSize,jdbcType=INTEGER} offset #{limitStart,jdbcType=INTEGER}
  </select>
  
  <select id="getWithdrawTotalCount" parameterType="com.nnbox.admin.api.ncash.model.WithdrawListRequest" resultType="int">
    select count(*)
    from
    <include refid="Ncash_List_Table" />
    <where>
      u.USER_TYPE = #{userType}
      <if test="userId != null">and u.ID like CONCAT(#{userId}, '%')</if>
      and cl.NCASH_DELTA &lt; 0
    </where>
  </select>
  
  <select id="selectPaymentList" parameterType="com.nnbox.admin.api.ncash.model.NcashListRequest" resultMap="PayResultMap">
    select
    <include refid="Pay_Column_List" />,
    <include refid="User_Column_List" />
    from
    <include refid="Payment_List_Table" />
    <where>
      u.USER_TYPE = #{userType}
      <if test="userId != null">and u.ID like CONCAT(#{userId}, '%')</if>
    </where>
    order by cl.IDX desc
    limit #{pageSize,jdbcType=INTEGER} offset #{limitStart,jdbcType=INTEGER}
  </select>
  
  <select id="getPaymentTotalCount" parameterType="com.nnbox.admin.api.ncash.model.NcashListRequest" resultType="int">
    select count(*)
    from
    <include refid="Payment_List_Table" />
    <where>
      u.USER_TYPE = #{userType}
      <if test="userId != null">and u.ID like CONCAT(#{userId}, '%')</if>
    </where>
  </select>
  
  <!-- 일차감 -->
  <select id="selectNcashDailyList" parameterType="com.nnbox.admin.api.ncash.model.NcashDailyListRequest" resultMap="NcashDailyResultMap">
    select 
    <include refid="Ncash_Daily_Column_List" />
    from cash_log cl
    inner join user u
    on u.IDX = cl.USER_IDX left outer join rider r
    on r.USER_IDX = u.IDX left outer join franchise f
    on f.USER_IDX = u.IDX 
    <where>
      and cl.CATEGORY = 'BATCH_WORK_NCASH'
      <if test="riderName != null and !riderName.equals('')">and r.RIDER_NAME like concat('%', #{riderName}, '%')</if>
      <if test="kind != null and !kind.equals('')">and cl.KIND = #{kind}</if>
    </where>
    order by cl.IDX desc
    limit #{pageSize} offset #{limitStart}
  </select>
  
  <select id="getNcashDailyListTotalCount" parameterType="com.nnbox.admin.api.ncash.model.NcashDailyListRequest" resultType="int">
    select count(*)
    from cash_log cl
    inner join user u
    on u.IDX = cl.USER_IDX
    <where>
      and cl.CATEGORY = 'BATCH_WORK_NCASH'
      <if test="kind != null and !kind.equals('')">and cl.KIND = #{kind}</if>
    </where>
  </select>
  
  <!-- settlement -->
  <select id="selectNcashFeeList" parameterType="com.nnbox.admin.api.settlement.model.NcashFeeListRequest" resultMap="NcashResultMap">
    select 
    <include refid="Ncash_Column_List" />
    from cash_log cl 
    inner join user u
    on u.IDX = cl.USER_IDX left outer join rider r
    on r.USER_IDX = u.IDX left outer join franchise f
    on f.USER_IDX = u.IDX 
    <where>
      cl.CATEGORY in ('NCASH_CHARGE_PROC', 'WITHDRAW_REQ')
      and u.ID ='connect9'
      and ncash_delta &lt;= 500 and ncash_delta >= 0
    </where>
    order by cl.IDX desc
    limit #{pageSize} offset #{limitStart}
  </select>
  
  <select id="getNcashFeeTotalCount" parameterType="com.nnbox.admin.api.settlement.model.NcashFeeListRequest" resultType="int">
    select count(*)
    from cash_log cl 
    inner join user u
    on u.IDX = cl.USER_IDX left outer join rider r
    on r.USER_IDX = u.IDX left outer join franchise f
    on f.USER_IDX = u.IDX 
    <where>
      cl.CATEGORY in ('NCASH_CHARGE_PROC', 'WITHDRAW_REQ')
      and u.ID ='connect9'
      and ncash_delta &lt;= 500 and ncash_delta >= 0
    </where>
  </select>
  
</mapper>