<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nnbox.admin.data.mapper.FranchiseMapper">

  <resultMap id="FrListResultMap" type="com.nnbox.admin.data.model.Franchise">
    <result column="FR_NAME" property="frName" />
    <result column="ADDR1" property="addr1" />
    <result column="ADDR2" property="addr2" />
    <result column="ADDR3" property="addr3" />
    <result column="TID_NORMAL_RATE" property="tidNormalRate" />
    <result column="FR_PHONE" property="frPhone" />
    <result column="V_ACCOUNT_NUMBER" property="vanNumber" />
    <result column="BRANCH_NAME" property="branchName" />
  </resultMap>
  
  <!-- sql -->
  <sql id="Fr_List_Table">
    franchise f inner join `user` u
      on f.USER_IDX = u.IDX inner join branch b
      on u.BRANCH_IDX = b.IDX
  </sql>
  
  <sql id="Fr_Base_Column_List">
    f.FR_NAME, f.ADDR1, f.ADDR2, f.ADDR3
    , f.TID_NORMAL_RATE, f.FR_PHONE, V_ACCOUNT_NUMBER
  </sql>
  
  <sql id="Branch_Base_Column_List">
    b.BRANCH_NAME
  </sql>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.nnbox.admin.data.model.Franchise">
    update franchise
    <set>
      USER_IDX = #{userIdx}
      <if test="frName != null">FR_NAME = #{frName},</if>
      <if test="addr1 != null">ADDR1 = #{addr1},</if>
      <if test="addr2 != null">ADDR2 = #{addr2},</if>
      <if test="addr3 != null">ADDR3 = #{addr3},</if>
      <if test="tidNormalRate != null">TID_NORMAL_RATE = #{tidNormalRate},</if>
      <if test="frPhone != null">FR_PHONE = #{frPhone},</if>
      <if test="vanNumber != null">V_ACCOUNT_NUMBER = #{vanNumber},</if>
    </set>
    where USER_IDX = #{userIdx}
  </update>
  
  <!-- custom sql -->
  <select id="selectFrList" parameterType="com.nnbox.admin.api.fr.model.FrListRequest" resultMap="FrListResultMap">
    select 
    <include refid="Fr_Base_Column_List" />,
    <include refid="Branch_Base_Column_List" />
    from
    <include refid="Fr_List_Table" />
    where f.USER_IDX >= 1
    	<if test="branchName != null">and b.BRANCH_NAME like concat('%', #{branchName}, '%')</if>
   		<if test="frName != null">and f.FR_NAME like concat('%', #{frName}, '%')</if>
  	order by f.USER_IDX desc
  	limit #{pageSize,jdbcType=INTEGER} offset #{limitStart,jdbcType=INTEGER}
  </select>
  
  <select id="getTotalCount" parameterType="com.nnbox.admin.api.fr.model.FrListRequest" resultType="int">
    select count(*)
    from
    <include refid="Fr_List_Table" />
    where f.USER_IDX >= 1
    	<if test="branchName != null">and b.BRANCH_NAME like concat('%', #{branchName}, '%')</if>
   		<if test="frName != null">and f.FR_NAME like concat('%', #{frName}, '%')</if>
  </select>
</mapper>