<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nnbox.admin.data.mapper.FranchiseMapper">

  <resultMap id="FrListResultMap" type="com.nnbox.admin.data.model.Franchise">
    <result column="USER_IDX" property="userIdx" />
    <result column="FR_NAME" property="frName" />
    <result column="ADDR1" property="addr1" />
    <result column="ADDR2" property="addr2" />
    <result column="ADDR3" property="addr3" />
    <result column="TID_NORMAL_RATE" property="tidNormalRate" />
    <result column="FR_PHONE" property="frPhone" />
    <result column="WALLET_ID" property="walletId" />
    <result column="TID_NORMAL" property="tidNormal" />
    <result column="TID_PREPAY" property="tidPrepay" />
    <result column="BUSINESS_NUMBER" property="businessNumber" />
    <result column="OWNER_NAME" property="ownerName" />
    <result column="V_ACCOUNT_BANK" property="vAccountBank" />
    <result column="V_ACCOUNT_NUMBER" property="vAccountNumber" />
    <result column="V_ACCOUNT_DEPOSITOR" property="vAccountDepositor" />

    <result column="USER_ID" property="userId" />
    <result column="USER_EMAIL" property="userEmail" />
    <result column="USER_PHONE" property="userPhone" />
    
    <result column="BRANCH_NAME" property="branchName" />
  </resultMap>
  
  <resultMap id="FrCashResultMap" type="com.nnbox.admin.data.model.Franchise">
    <result column="USER_IDX" property="userIdx" />
    <result column="FR_NAME" property="frName" />
    <result column="ADDR1" property="addr1" />
    <result column="ADDR2" property="addr2" />
    <result column="ADDR3" property="addr3" />
    <result column="FR_PHONE" property="frPhone" />
    <result column="BUSINESS_NUMBER" property="businessNumber" />
    <result column="OWNER_NAME" property="ownerName" />
    <result column="V_ACCOUNT_BANK" property="vAccountBank" />
    <result column="V_ACCOUNT_NUMBER" property="vAccountNumber" />
    <result column="V_ACCOUNT_DEPOSITOR" property="vAccountDepositor" />

    <result column="NCASH_DELTA" property="ncashDelta" />
  </resultMap>
  
  <!-- sql -->
  <sql id="Fr_List_Table">
    franchise f 
    inner join `user` u on f.USER_IDX = u.IDX 
    inner join branch b on u.BRANCH_IDX = b.IDX
  </sql>
  
  <sql id="Fr_Cash_List_Table">
    franchise f 
    inner join `user` u on f.USER_IDX = u.IDX 
    inner join cash_log cl on cl.USER_IDX = u.IDX
  </sql>
  
  <sql id="Fr_Base_Column_List">
    f.USER_IDX, f.FR_NAME, f.ADDR1, f.ADDR2, f.ADDR3
    , f.TID_NORMAL_RATE, f.FR_PHONE, f.WALLET_ID, f.TID_NORMAL, f.TID_PREPAY, f.BUSINESS_NUMBER, f.OWNER_NAME, f.V_ACCOUNT_BANK, f.V_ACCOUNT_NUMBER, f.V_ACCOUNT_DEPOSITOR, u.ID USER_ID, u.EMAIL USER_EMAIL, u.PHONE USER_PHONE, b.BRANCH_NAME
  </sql>
  
  <sql id="Fr_Cash_Base_Column_List">
    f.USER_IDX, f.FR_NAME, f.ADDR1, f.ADDR2, f.ADDR3
    , f.FR_PHONE, f.BUSINESS_NUMBER, f.OWNER_NAME
    , f.V_ACCOUNT_BANK, f.V_ACCOUNT_NUMBER, f.V_ACCOUNT_DEPOSITOR
  </sql>
  
  <sql id="Branch_Base_Column_List">
    b.BRANCH_NAME
  </sql>
  
  <sql id="Ncash_Base_Column_List">
    cl.NCASH_DELTA
  </sql>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.nnbox.admin.data.model.Franchise">
    update franchise
    <set>
      USER_IDX = #{userIdx},
      <if test="frName != null">FR_NAME = #{frName},</if>
      <if test="addr1 != null">ADDR1 = #{addr1},</if>
      <if test="addr2 != null">ADDR2 = #{addr2},</if>
      <if test="addr3 != null">ADDR3 = #{addr3},</if>
      <if test="tidNormalRate != null">TID_NORMAL_RATE = #{tidNormalRate},</if>
      <if test="frPhone != null">FR_PHONE = #{frPhone},</if>
      <if test="walletId != null">WALLET_ID = #{walletId},</if>
      <if test="tidNormal != null">TID_NORMAL = #{tidNormal},</if>
      <if test="tidPrepay != null">TID_PREPAY = #{tidPrepay},</if>
      <if test="vAccountBank != null">V_ACCOUNT_BANK = #{vAccountBank},</if>
      <if test="vAccountNumber != null">V_ACCOUNT_NUMBER = #{vAccountNumber},</if>
      <if test="vAccountDepositor != null">V_ACCOUNT_DEPOSITOR = #{vAccountDepositor},</if>
    </set>
    where USER_IDX = #{userIdx}
  </update>
  ㅊ
  <!-- custom sql -->
  <select id="selectFrList" parameterType="com.nnbox.admin.api.fr.model.FrListRequest" resultMap="FrListResultMap">
    select 
    <include refid="Fr_Base_Column_List" />,
    <include refid="Branch_Base_Column_List" />
    from
    <include refid="Fr_List_Table" />
    <where>
   		<if test="frName != null and !frName.equals('')">and f.FR_NAME like concat('%', #{frName}, '%')</if>
   		<if test="branchName != null and !branchName.equals('')">and b.BRANCH_NAME like concat('%', #{branchName}, '%')</if>
  	</where>
  	order by f.USER_IDX desc
  	limit #{pageSize} offset #{limitStart}
  </select>
  
  <select id="getTotalCount" parameterType="com.nnbox.admin.api.fr.model.FrListRequest" resultType="int">
    select count(*)
    from
    <include refid="Fr_List_Table" />
    <where>
      <if test="frName != null and !frName.equals('')">and f.FR_NAME like concat('%', #{frName}, '%')</if>
      <if test="branchName != null and !branchName.equals('')">and b.BRANCH_NAME like concat('%', #{branchName}, '%')</if>
    </where>
  </select>
  
  <select id="selectFrByUserIdx" parameterType="java.lang.Integer" resultMap="FrListResultMap">
    select 
    <include refid="Fr_Base_Column_List" />,
    <include refid="Branch_Base_Column_List" />
    from
    <include refid="Fr_List_Table" />
    where f.USER_IDX = #{userIdx}
  </select>
  
  <select id="selectFrCashList" parameterType="com.nnbox.admin.api.fr.model.FrListRequest" resultMap="FrCashResultMap">
    select 
    <include refid="Fr_Cash_Base_Column_List" />,
    <include refid="Ncash_Base_Column_List" />
    from
    <include refid="Fr_Cash_List_Table" />
    <where>
      <if test="frName != null and !frName.equals('')">and f.FR_NAME like concat('%', #{frName}, '%')</if>
    </where>
    where cl.CATEGORY like 'DUES_PAY'
    order by cl.IDX desc
    limit #{pageSize} offset #{limitStart}
  </select>
  
   <select id="getFrCashCount" parameterType="com.nnbox.admin.api.fr.model.FrListRequest" resultType="int">
    select count(*) from
    <include refid="Fr_Cash_List_Table" />
    <where>
      <if test="frName != null and !frName.equals('')">and f.FR_NAME like concat('%', #{frName}, '%')</if>
    </where>
    where cl.CATEGORY like 'DUES_PAY'
  </select>
  
  <select id="selectFrChargeList" parameterType="com.nnbox.admin.api.fr.model.FrListRequest" resultMap="FrCashResultMap">
    select 
    <include refid="Fr_Cash_Base_Column_List" />,
    <include refid="Ncash_Base_Column_List" />
    from
    <include refid="Fr_Cash_List_Table" />
    <where>
      <if test="frName != null and !frName.equals('')">and f.FR_NAME like concat('%', #{frName}, '%')</if>
    </where>
    where cl.NCASH_DELTA &lt; 0
    order by cl.IDX desc
    limit #{pageSize} offset #{limitStart}
  </select>
  
   <select id="getFrChargeCount" parameterType="com.nnbox.admin.api.fr.model.FrListRequest" resultType="int">
    select count(*) from
    <include refid="Fr_Cash_List_Table" />
    <where>
      <if test="frName != null and !frName.equals('')">and f.FR_NAME like concat('%', #{frName}, '%')</if>
    </where>
    where cl.NCASH_DELTA &lt; 0
  </select>
  
  
</mapper>