<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nnbox.admin.data.mapper.IncentiveMapper">
  <resultMap id="BaseResultMap" type="com.nnbox.admin.data.model.Incentive">
    <id column="IDX" jdbcType="INTEGER" property="idx" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CATEGORY" jdbcType="SMALLINT" property="category" />
    <result column="INCEN_MONTH" jdbcType="CHAR" property="incenMonth" />
    <result column="INCEN_DATE" jdbcType="TIMESTAMP" property="incenDate" />
    <result column="USER_IDX" jdbcType="INTEGER" property="userIdx" />
    <result column="USER_LEVEL" jdbcType="SMALLINT" property="userLevel" />
    <result column="IS_EXPECT" jdbcType="TINYINT" property="isExpect" />
    <result column="INCEN_PAYED" jdbcType="TINYINT" property="incenPayed" />
    <result column="INCEN_PAY_DATE" jdbcType="TIMESTAMP" property="incenPayDate" />
    <result column="PAYED_AMOUNT" jdbcType="INTEGER" property="payedAmount" />
    <result column="FR_SALES_IDX" jdbcType="INTEGER" property="frSalesIdx" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="DEFAULT_CNT" jdbcType="INTEGER" property="defaultCnt" />
    <result column="DELIVERY_CNT" jdbcType="INTEGER" property="deliveryCnt" />
    <result column="DELIVERY_PRICE_SUM" jdbcType="INTEGER" property="deliveryPriceSum" />
    <result column="DEFAULT_DELIVERY_PRICE" jdbcType="INTEGER" property="defaultDeliveryPrice" />
  </resultMap>
  
  <resultMap id="IncenResultMap" type="com.nnbox.admin.data.model.Incentive">
    <id column="IDX" jdbcType="INTEGER" property="idx" />
    <id column="USER_IDX" jdbcType="INTEGER" property="userIdx" />
    <result column="CATEGORY" property="category" />
    <result column="PAYED_AMOUNT" jdbcType="INTEGER" property="payedAmount" />
    <result column="INCEN_MONTH" jdbcType="CHAR" property="incenMonth" />
    <result column="INCEN_DATE" jdbcType="TIMESTAMP" property="incenDate" />
    <result column="USER_LEVEL" jdbcType="SMALLINT" property="userLevel" />
    <result column="INCEN_PAYED" jdbcType="TINYINT" property="incenPayed" />
    <result column="DEFAULT_CNT" jdbcType="INTEGER" property="defaultCnt" />
    <result column="DELIVERY_CNT" jdbcType="INTEGER" property="deliveryCnt" />
    <result column="DEFAULT_DELIVERY_PRICE" jdbcType="INTEGER" property="defaultDeliveryPrice" />
    <!-- rider -->
    <result column="STAFF_NAME" jdbcType="VARCHAR" property="staffName" />
    <result column="STAFF_PHONE" jdbcType="VARCHAR" property="staffPhone" />
    <result column="BASIC_DELIVERY_PRICE" jdbcType="INTEGER" property="basicDeliveryPrice" />
    <result column="STAFF_LEVEL" jdbcType="SMALLINT" property="staffLevel" />
  </resultMap>
  
  <!-- custom sql -->
  <sql id="Incen_Delivery_List_Table">
    incentive i inner join `user` u
      on i.USER_IDX = u.IDX inner join rider r
      on i.USER_IDX = r.USER_IDX
  </sql>
  
  <sql id="Incen_Base_Column_List">
    i.IDX, i.INCEN_MONTH, i.INCEN_DATE, i.USER_LEVEL as STAFF_LEVEL, i.INCEN_PAYED, i.DEFAULT_CNT, i.DELIVERY_CNT 
    , i.DEFAULT_DELIVERY_PRICE, i.CATEGORY, i.PAYED_AMOUNT, i.USER_IDX
  </sql>
  
  <sql id="Rider_Base_Column_List">
    r.RIDER_NAME as STAFF_NAME, u.PHONE as STAFF_PHONE, r.BASIC_DELIVERY_PRICE
  </sql>
  
  <!-- custom query -->
  <select id="selectStaffDeliveryList" parameterType="com.nnbox.admin.api.delivery.model.StaffDeliveryListRequest" resultMap="IncenResultMap">
    select 
    <include refid="Incen_Base_Column_List" />,
    <include refid="Rider_Base_Column_List" />
    from 
    <include refid="Incen_Delivery_List_Table" />
    where i.IDX >= 1
    	<if test="staffName != null">and r.RIDER_NAME like concat('%', #{staffName}, '%')</if>
   		<if test="staffPhone != null">and u.PHONE like concat('%', #{staffPhone}, '%')</if>
   		<if test="searchMonth != null">and i.INCEN_DATE like concat(#{searchMonth}, '%')</if>
   		and i.CATEGORY in 
        <foreach collection="categories" item="item" index="index" separator="," open="(" close=")">
          #{item}
        </foreach>
 	order by i.IDX desc
 	limit #{pageSize,jdbcType=INTEGER} offset #{limitStart,jdbcType=INTEGER}
  </select>
  
  <select id="getTotalCount" parameterType="com.nnbox.admin.api.delivery.model.StaffDeliveryListRequest" resultType="int">
    select count(*) from 
    <include refid="Incen_Delivery_List_Table" />
    where i.IDX >= 1
    	<if test="staffName != null">and r.RIDER_NAME like concat('%', #{staffName}, '%')</if>
   		<if test="staffPhone != null">and u.PHONE like concat('%', #{staffPhone}, '%')</if>
   		<if test="searchMonth != null">and i.INCEN_DATE like concat(#{searchMonth}, '%')</if>
  </select>
</mapper>