<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nnbox.admin.data.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.nnbox.admin.data.model.User">
    <id column="IDX" jdbcType="INTEGER" property="idx" />
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="NCASH" jdbcType="INTEGER" property="ncash" />
    <result column="USER_STATUS" jdbcType="INTEGER" property="userStatus" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="RECOMMENDER_IDX" property="recommenderIdx" />
    <result column="LOGIN_DATE" jdbcType="TIMESTAMP" property="loginDate" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="DELETED" jdbcType="TINYINT" property="deleted" />
    <result column="DELETE_DATE" jdbcType="TIMESTAMP" property="deleteDate" />
    <result column="PROFILE_IMAGE" jdbcType="VARCHAR" property="profileImage" />
    <result column="USER_TYPE" jdbcType="INTEGER" property="userType" />
    <result column="WITHDRAW_LIMIT" jdbcType="INTEGER" property="withdrawLimit" />
    <result column="WITHDRAW_PASSWORD" jdbcType="VARCHAR" property="withdrawPassword" />
    <result column="WITHDRAW_ENABLED" jdbcType="BOOLEAN" property="withdrawEnabled" />
    <result column="BANK" jdbcType="VARCHAR" property="bank" />
    <result column="BANK_ACCOUNT" jdbcType="VARCHAR" property="bankAccount" />
    <result column="DEPOSITOR" jdbcType="VARCHAR" property="depositor" />
    <result column="AGREE_SMS" jdbcType="BOOLEAN" property="agreeSms" />
    <result column="BRANCH_IDX" jdbcType="INTEGER" property="branchIdx" />

    <result column="V_ACCOUNT_BANK" jdbcType="INTEGER" property="vAccountBank" />
    <result column="V_ACCOUNT_NUMBER" jdbcType="INTEGER" property="vAccountNumber" />
    <result column="V_ACCOUNT_DEPOSITOR" jdbcType="INTEGER" property="vAccountDepositor" />
  </resultMap>
  <sql id="Base_Column_List">
    u.IDX, u.ID, u.PASSWORD, u.EMAIL, u.PHONE, u.NCASH, u.USER_STATUS
    , u.MEMO, u.RECOMMENDER_IDX, u.LOGIN_DATE, u.CREATE_DATE, u.DELETED, u.DELETE_DATE
    , u.PROFILE_IMAGE, u.USER_TYPE
    , u.WITHDRAW_LIMIT, u.WITHDRAW_PASSWORD, u.WITHDRAW_ENABLED, u.BANK, u.BANK_ACCOUNT, u.DEPOSITOR
    , u.BRANCH_IDX, u.AGREE_SMS
  </sql>
  <sql id="Rider_Column_List">
    r.V_ACCOUNT_BANK, r.V_ACCOUNT_NUMBER, r.V_ACCOUNT_DEPOSITOR
  </sql>
  <sql id="User_Table_List">
    user u
    inner join rider r
    on r.USER_IDX = u.IDX
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user u
    where IDX = #{idx,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user u
    where IDX = #{idx,jdbcType=INTEGER}
  </delete>  
  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user u
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectList" parameterType="com.nnbox.admin.api.sample.model.UserListRequest" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user u
	<trim prefix="WHERE" prefixOverrides="AND |OR ">
		<if test="searchId != null">AND id LIKE CONCAT(#{searchId}, '%')</if>
	</trim>
    order by idx desc
    limit #{pageSize,jdbcType=INTEGER}
	offset #{limitStart,jdbcType=INTEGER}
  </select>
  
  <update id="sendNcashByAdmin" parameterType="com.nnbox.admin.api.ncash.model.NcashCreateRequest">
    update `user`
    set
      NCASH = NCASH + #{ncashAmount,jdbcType=INTEGER}
    where IDX = #{receiveUserIdx,jdbcType=INTEGER};
  </update>
  
  <select id="getC9Ncash" resultType="int">
    select NCASH
    from user u
    where ID = 'connect9'
  </select>
  
  <select id="getConnect9" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />,
    <include refid="Rider_Column_List" />
    from
    <include refid="User_Table_List" />
    where u.ID = 'connect9'
  </select>
  
  <update id="withdrawC9Ncash" parameterType="com.nnbox.admin.api.ncash.model.NcashCreateRequest">
    update `user`
    set
      NCASH = NCASH - #{ncashAmount,jdbcType=INTEGER}
    where ID = 'connect9'
  </update>
  
</mapper>